.table__container {
  position: relative;
  overflow-x: auto;
}

table {
  width: 100%;
  line-height: 20px;
  text-align: left;
}

table thead {
  font-weight: 800;
  line-height: 16px;
  text-align: center;
}

table, th, td {
  padding: 8px 18px;
  border: 1px solid #b1c5d5;
  border-collapse: collapse;
  text-align: center;
}

table svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin: 0 15px;
}

table img {
  width: 40px;
  height: 40px;
}
